In [15]:
## Current path display

import os
current_path = os.getcwd()
print(current_path)

d:\05_Projekte\04_Research\08_ManuBrain\01_Lab\Demo-Cell-Classification\02_Preprocessing

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import timedelta

## Functions

In [17]:
# return tag from data
def fc_tag (data,index):
    return data.at[index,'d'].split('=')[2] # [2] equivalent a tag column data en txt file

# update tag in main table
def fc_tag_update(data, tag):
    for i in range(len(tag)):
        i = i + 1 
        data = data.replace({'PrimaryKey':i}, fc_tag(tag,i), regex = False)
    return data

#Sync TimeStamp

def fc_sync_timestamp2(data,ServerTimeStamp,delta_time): #Requires df, column-name and delta-time
    for date in data[ServerTimeStamp]:
        source = datetime.fromisoformat(str(date).replace('Z','+00:00'))
        date_sync = source - delta_time
        data[ServerTimeStamp] = date_sync
    return data

def fc_sync_timestamp(data,ServerTimeStamp,delta_time): #Requires df, column-name and delta-time
    for i in range(len(data)): 
        source = datetime.fromisoformat(str(data.at[i,ServerTimeStamp]).replace('Z','+00:00'))
        date_sync = source - delta_time
        data.at[i,ServerTimeStamp] = date_sync
    return data

## Paths from data set

In [18]:
date = 201026
uc_num = 1

path = str(date) + '/use_case' + str(uc_num)

# Conveyor_belt
path_data_conv = '../01_Data/' + path + '/Conveyor Speed/DataLogger.csv'
path_tag_conv = '../01_Data/' + path + '/Conveyor Speed/tagconfig.txt'

# Gate
path_data_gate = '../01_Data/' + path + '/Gate/DataLogger.csv'
path_tag_gate = '../01_Data/' + path + '/Gate/tagconfig.txt'

# Quality_Control
path_data_qc = '../01_Data/' + path + '/Quality Control/DataLogger.csv'
path_tag_qc = '../01_Data/' + path + '/Quality Control/tagconfig.txt'

# Robot_Position
path_data_rp = '../01_Data/' + path + '/Robot Position/DataLogger.csv'
path_tag_rp = '../01_Data/' + path + '/Robot Position/tagconfig.txt'

# Store
path_data_st = '../01_Data/' + path + '/Store/DataLogger.csv'
path_tag_st = '../01_Data/' + path + '/Store/tagconfig.txt'

# Flag
path_data_flag = '../01_Data/' + path + '/Flag/DataLogger.csv'
path_tag_flag = '../01_Data/' + path + '/Flag/tagconfig.txt'

# Processed data

path_data_save = '../01_Data/' + path + '/Processed/'
path_sample_save = '../01_Data/' + path + '/Processed/Samples/'

## Import data from csv

In [19]:
# Conveyor_belt
data_conv =  pd.read_csv(path_data_conv, delimiter = ',')
#df_conv = pd.DataFrame(pd.read_csv(path_data_conv, delimiter = ','))

# Gate
data_gate =  pd.read_csv(path_data_gate, delimiter = ',')
#df_gate = pd.DataFrame(pd.read_csv(path_data_gate, delimiter = ','))

# Quality_Control
data_qc =  pd.read_csv(path_data_qc, delimiter = ',')
#df_qc = pd.DataFrame(pd.read_csv(path_data_qc, delimiter = ','))

# Robot_Position
data_rp =  pd.read_csv(path_data_rp, delimiter = ',')
#df_rp = pd.DataFrame(pd.read_csv(path_data_rp, delimiter = ','))

# Store
data_st =  pd.read_csv(path_data_st, delimiter = ',')
#df_st = pd.DataFrame(pd.read_csv(path_data_st, delimiter = ','))

# Flag
data_flag =  pd.read_csv(path_data_flag, delimiter = ',')
#df_flag = pd.DataFrame(pd.read_csv(path_data_st, delimiter = ','))

## Import data tags

In [20]:
# Conveyor_belt
tag_conv =  pd.read_fwf(path_tag_conv, sep=" ", header=None, names=['a','b','c','d'])
tag_conv = tag_conv.drop([0]) # delete first row (trash)

# Gate
tag_gate =  pd.read_fwf(path_tag_gate, sep=" ", header=None, names=['a','b','c','d'])
tag_gate = tag_gate.drop([0]) # delete first row (trash)

# Quality_Control
tag_qc =  pd.read_fwf(path_tag_qc, sep=" ", header=None, names=['a','b','c','d'])
tag_qc = tag_qc.drop([0]) # delete first row (trash)

# Robot_Position
tag_rp =  pd.read_fwf(path_tag_rp, sep=" ", header=None, names=['a','b','c','d'])
tag_rp = tag_rp.drop([0]) # delete first row (trash)

# Robot_Position
tag_st =  pd.read_fwf(path_tag_st, sep=" ", header=None, names=['a','b','c','d'])
tag_st = tag_st.drop([0]) # delete first row (trash)

# Flag
tag_flag =  pd.read_fwf(path_tag_flag, sep=" ", header=None, names=['a','b','c','d'])
tag_flag = tag_flag.drop([0]) # delete first row (trash)

## Update tags

In [21]:
# Conveyor_belt
data_conv = fc_tag_update(data_conv, tag_conv)

# Gate
data_gate = fc_tag_update(data_gate, tag_gate)

# Quality_Control
data_qc = fc_tag_update(data_qc, tag_qc)

# Robot_Position
data_rp = fc_tag_update(data_rp, tag_rp)

# Store
data_st = fc_tag_update(data_st, tag_st)

# Flag
data_flag = fc_tag_update(data_st, tag_st)

## Syncronize ServerTimeStamp

In [22]:
delta_time_PLC = timedelta(seconds=67)
delta_time_SIM = timedelta(seconds=0)

In [23]:
data_conv = fc_sync_timestamp(data_conv,'ServerTimeStamp',delta_time_PLC)
data_conv

,PrimaryKey,DataType,Value,StatusCode,SourceTimeStamp,ServerTimeStamp
0,27,0x0004,414,0x002f0000,2020-10-26T11:44:21.542Z,2020-10-26 11:43:14.542000+00:00
1,27,0x0004,414,0x00000000,2020-10-26T11:44:21.791Z,2020-10-26 11:43:14.791000+00:00
2,28,0x0004,551,0x002f0000,2020-10-26T11:44:21.544Z,2020-10-26 11:43:14.544000+00:00
3,28,0x0004,551,0x00000000,2020-10-26T11:44:21.793Z,2020-10-26 11:43:14.793000+00:00
4,29,0x0004,584,0x002f0000,2020-10-26T11:44:21.545Z,2020-10-26 11:43:14.545000+00:00
5,29,0x0004,584,0x00000000,2020-10-26T11:44:21.793Z,2020-10-26 11:43:14.793000+00:00

In [24]:
data_gate = fc_sync_timestamp(data_gate,'ServerTimeStamp',delta_time_SIM)
data_gate

,PrimaryKey,DataType,Value,StatusCode,SourceTimeStamp,ServerTimeStamp
0,Speed,0x000b,0,0x00000000,2020-10-26T11:29:48.816Z,2020-10-26 11:29:48.816000+00:00
1,Speed,0x000b,0,0x00000000,2020-10-26T11:29:49.116Z,2020-10-26 11:29:49.116000+00:00
2,Position,0x000b,0.3,0x00000000,2020-10-26T11:29:48.816Z,2020-10-26 11:29:48.816000+00:00
3,Position,0x000b,0.3,0x00000000,2020-10-26T11:29:49.116Z,2020-10-26 11:29:49.116000+00:00
4,Safe,0x0001,true,0x00000000,2020-10-26T11:29:48.816Z,2020-10-26 11:29:48.816000+00:00
...,...,...,...,...,...,...
12406,Speed,0x000b,0,0x00000000,2020-10-26T11:50:29.616Z,2020-10-26 11:50:29.616000+00:00
12407,Position,0x000b,0.3,0x00000000,2020-10-26T11:50:29.316Z,2020-10-26 11:50:29.316000+00:00
12408,Position,0x000b,0.3,0x00000000,2020-10-26T11:50:29.616Z,2020-10-26 11:50:29.616000+00:00
12409,Safe,0x0001,true,0x00000000,2020-10-26T11:50:29.316Z,2020-10-26 11:50:29.316000+00:00
12410,Safe,0x0001,true,0x00000000,2020-10-26T11:50:29.616Z,2020-10-26 11:50:29.616000+00:00

In [25]:
data_qc = fc_sync_timestamp(data_qc,'ServerTimeStamp',delta_time_SIM)
data_qc

,PrimaryKey,DataType,Value,StatusCode,SourceTimeStamp,ServerTimeStamp
0,DistanceAbs,0x000b,1.256839,0x00000000,2020-10-26T11:29:51.220Z,2020-10-26 11:29:51.220000+00:00
1,DistanceAbs,0x000b,1.256839,0x00000000,2020-10-26T11:29:51.520Z,2020-10-26 11:29:51.520000+00:00
2,DistanceX,0x000b,0.650723,0x00000000,2020-10-26T11:29:51.220Z,2020-10-26 11:29:51.220000+00:00
3,DistanceX,0x000b,0.650723,0x00000000,2020-10-26T11:29:51.520Z,2020-10-26 11:29:51.520000+00:00
4,DistanceY,0x000b,1.075269,0x00000000,2020-10-26T11:29:51.220Z,2020-10-26 11:29:51.220000+00:00
...,...,...,...,...,...,...
16543,DistanceX,0x000b,1.084538,0x00000000,2020-10-26T11:50:32.020Z,2020-10-26 11:50:32.020000+00:00
16544,DistanceY,0x000b,0.645161,0x00000000,2020-10-26T11:50:31.720Z,2020-10-26 11:50:31.720000+00:00
16545,DistanceY,0x000b,0.645161,0x00000000,2020-10-26T11:50:32.020Z,2020-10-26 11:50:32.020000+00:00
16546,ResultCode,0x0006,0.000000,0x00000000,2020-10-26T11:50:31.720Z,2020-10-26 11:50:31.720000+00:00
16547,ResultCode,0x0006,0.000000,0x00000000,2020-10-26T11:50:32.020Z,2020-10-26 11:50:32.020000+00:00

In [26]:
data_rp = fc_sync_timestamp(data_rp,'ServerTimeStamp',delta_time_PLC)
data_rp

,PrimaryKey,DataType,Value,StatusCode,SourceTimeStamp,ServerTimeStamp
0,527,0x0007,3198142682,0x00000000,2020-10-26T11:31:00.072Z,2020-10-26 11:29:53.072000+00:00
1,527,0x0007,3198143274,0x00000000,2020-10-26T11:31:00.294Z,2020-10-26 11:29:53.294000+00:00
2,528,0x0007,3187231536,0x00000000,2020-10-26T11:31:00.074Z,2020-10-26 11:29:53.074000+00:00
3,528,0x0007,3187293072,0x00000000,2020-10-26T11:31:00.294Z,2020-10-26 11:29:53.294000+00:00
4,529,0x0007,1053888573,0x00000000,2020-10-26T11:31:00.077Z,2020-10-26 11:29:53.077000+00:00
...,...,...,...,...,...,...
14567,527,0x0007,1024646293,0x00000000,2020-10-26T11:51:40.305Z,2020-10-26 11:50:33.305000+00:00
14568,528,0x0007,3190346370,0x00000000,2020-10-26T11:51:40.044Z,2020-10-26 11:50:33.044000+00:00
14569,528,0x0007,3190345988,0x00000000,2020-10-26T11:51:40.295Z,2020-10-26 11:50:33.295000+00:00
14570,529,0x0007,1054209776,0x00000000,2020-10-26T11:51:40.042Z,2020-10-26 11:50:33.042000+00:00
14571,529,0x0007,1054209565,0x00000000,2020-10-26T11:51:40.292Z,2020-10-26 11:50:33.292000+00:00

In [27]:
data_st = fc_sync_timestamp(data_st,'ServerTimeStamp',delta_time_SIM)
data_st

,PrimaryKey,DataType,Value,StatusCode,SourceTimeStamp,ServerTimeStamp
0,DiscSize,0x0003,0,0x00000000,2020-10-26T11:29:55.519Z,2020-10-26 11:29:55.519000+00:00
1,DiscSize,0x0003,0,0x00000000,2020-10-26T11:29:55.819Z,2020-10-26 11:29:55.819000+00:00
2,DiscSize,0x0003,0,0x00000000,2020-10-26T11:29:56.119Z,2020-10-26 11:29:56.119000+00:00
3,DiscSize,0x0003,0,0x00000000,2020-10-26T11:29:56.419Z,2020-10-26 11:29:56.419000+00:00
4,DiscSize,0x0003,0,0x00000000,2020-10-26T11:29:56.719Z,2020-10-26 11:29:56.719000+00:00
...,...,...,...,...,...,...
4130,DiscSize,0x0003,2,0x00000000,2020-10-26T11:50:34.519Z,2020-10-26 11:50:34.519000+00:00
4131,DiscSize,0x0003,2,0x00000000,2020-10-26T11:50:34.819Z,2020-10-26 11:50:34.819000+00:00
4132,DiscSize,0x0003,2,0x00000000,2020-10-26T11:50:35.119Z,2020-10-26 11:50:35.119000+00:00
4133,DiscSize,0x0003,2,0x00000000,2020-10-26T11:50:35.419Z,2020-10-26 11:50:35.419000+00:00
4134,DiscSize,0x0003,2,0x00000000,2020-10-26T11:50:35.719Z,2020-10-26 11:50:35.719000+00:00

In [28]:
data_flag = fc_sync_timestamp(data_st,'ServerTimeStamp',delta_time_PLC)
data_flag

,PrimaryKey,DataType,Value,StatusCode,SourceTimeStamp,ServerTimeStamp
0,DiscSize,0x0003,0,0x00000000,2020-10-26T11:29:55.519Z,2020-10-26 11:28:48.519000+00:00
1,DiscSize,0x0003,0,0x00000000,2020-10-26T11:29:55.819Z,2020-10-26 11:28:48.819000+00:00
2,DiscSize,0x0003,0,0x00000000,2020-10-26T11:29:56.119Z,2020-10-26 11:28:49.119000+00:00
3,DiscSize,0x0003,0,0x00000000,2020-10-26T11:29:56.419Z,2020-10-26 11:28:49.419000+00:00
4,DiscSize,0x0003,0,0x00000000,2020-10-26T11:29:56.719Z,2020-10-26 11:28:49.719000+00:00
...,...,...,...,...,...,...
4130,DiscSize,0x0003,2,0x00000000,2020-10-26T11:50:34.519Z,2020-10-26 11:49:27.519000+00:00
4131,DiscSize,0x0003,2,0x00000000,2020-10-26T11:50:34.819Z,2020-10-26 11:49:27.819000+00:00
4132,DiscSize,0x0003,2,0x00000000,2020-10-26T11:50:35.119Z,2020-10-26 11:49:28.119000+00:00
4133,DiscSize,0x0003,2,0x00000000,2020-10-26T11:50:35.419Z,2020-10-26 11:49:28.419000+00:00
4134,DiscSize,0x0003,2,0x00000000,2020-10-26T11:50:35.719Z,2020-10-26 11:49:28.719000+00:00

## Merge Data Sets

In [29]:
data_set = [data_conv, data_gate, data_qc, data_rp, data_st, data_flag]
data_merge = pd.concat(data_set, keys=['conv', 'gate', 'qc', 'rp', 'store', 'flag'])
# Sort the data_set by SourceTimeStamp, reset index and delete aux column
data_merge = data_merge.sort_values(by='ServerTimeStamp').reset_index().drop('level_1',1)
#del data_merge['level_1'] #delete aux column

In [30]:
data_merge

,level_0,PrimaryKey,DataType,Value,StatusCode,SourceTimeStamp,ServerTimeStamp
0,store,DiscSize,0x0003,0,0x00000000,2020-10-26T11:29:55.519Z,2020-10-26 11:28:48.519000+00:00
1,flag,DiscSize,0x0003,0,0x00000000,2020-10-26T11:29:55.519Z,2020-10-26 11:28:48.519000+00:00
2,store,DiscSize,0x0003,0,0x00000000,2020-10-26T11:29:55.819Z,2020-10-26 11:28:48.819000+00:00
3,flag,DiscSize,0x0003,0,0x00000000,2020-10-26T11:29:55.819Z,2020-10-26 11:28:48.819000+00:00
4,store,DiscSize,0x0003,0,0x00000000,2020-10-26T11:29:56.119Z,2020-10-26 11:28:49.119000+00:00
...,...,...,...,...,...,...,...
51802,rp,528,0x0007,3190346370,0x00000000,2020-10-26T11:51:40.044Z,2020-10-26 11:50:33.044000+00:00
51803,rp,527,0x0007,1024648491,0x00000000,2020-10-26T11:51:40.044Z,2020-10-26 11:50:33.044000+00:00
51804,rp,529,0x0007,1054209565,0x00000000,2020-10-26T11:51:40.292Z,2020-10-26 11:50:33.292000+00:00
51805,rp,528,0x0007,3190345988,0x00000000,2020-10-26T11:51:40.295Z,2020-10-26 11:50:33.295000+00:00
51806,rp,527,0x0007,1024646293,0x00000000,2020-10-26T11:51:40.305Z,2020-10-26 11:50:33.305000+00:00

## Export Data to csv

In [31]:
data_merge.to_csv(path_data_save + 'data_merge.csv')
print('The data is saved at ' + path_data_save + 'data_merge.csv')

FileNotFoundError: [Errno 2] No such file or directory: '../01_Data/201026/use_case1/Processed/data_merge.csv'

In [17]:
len(data_merge)

83195

## Determine the starting point of data set

#Based on change of DistanceAbs in Data- Set
var_actual = 0
run_list = [0]
for i in range(len(data_merge)):
    var_previous = var_actual
    if data_merge.at[i,'PrimaryKey'] == 'DistanceAbs':  # if 'PrimaryKey' value = 'DistanceAbs':
        var_actual = data_merge.at[i,'Value'] # value of current DistanceAbs
    if var_previous != var_actual:
        run_list.append(i) #i append to list # This list will tell at how many i contains one sample

In [18]:
# Based on grabbing the white disk
var_actual = 99
disk_actual = 99 # Initial value
run_list = [0]
disk = False
storage_down = False
rob_x = 0
rob_y = 0
rob_z = 0
rob_pos = 0
pos = [0]*(len(data_merge)-2)
for i in range(len(data_merge)-2): # len(data_merge)-2 is considered to avoid border errors
    #var_previous = var_actual
    #rob_pos = fc_rob_pos(i, data_merge) # review robot position
    pos[i] = 0
    if data_merge.at[i,'PrimaryKey'] == 'DiscSize':  # if 'PrimaryKey' value = 'DiskSize':
        disk_previous = disk_actual
        disk_actual = data_merge.at[i,'Value'] # value of current DiskSize
        #print(disk_previous, disk_actual, i)
        if disk_previous != 2 and disk_actual == 2: # Varialbe 0: unkown; 1: Black disk; 2: white disk
            disk = True
            #print('New white disk here ' + str(i))
    if data_merge.at[i,'PrimaryKey'] == '527':  # if 'PrimaryKey' value = 'x coordinate':
        rob_x = data_merge.at[i,'Value'] # value of current 'x coordinate'
        #print('x = ' + str(rob_x) + '--' + str(i))
    if data_merge.at[i,'PrimaryKey'] == '528':  # if 'PrimaryKey' value = 'y coordinate':
        rob_y = data_merge.at[i,'Value'] # value of current 'x coordinate'
        #print('y = ' + str(rob_y) + '--' + str(i))
    if data_merge.at[i,'PrimaryKey'] == '529':  # if 'PrimaryKey' value = 'z coordinate':
        rob_z = data_merge.at[i,'Value'] # value of current 'x coordinate'
        #print('z = ' + str(rob_z) + '--' + str(i))
    if rob_x > 3100000000 and rob_y > 3100000000 and rob_z < 1051200000: #Robot in storage. Picking up the disk
        rob_pos = 1
        pos[i] = 1
        #print('pos 1 - ' + str(i))
    if rob_x < 1052000000 and rob_y > 3100000000 and rob_z < 1052000000 and rob_z > 1051200000 : #Robot in storage. Placing down the disk
        rob_pos = 2
        pos[i] = 2
        #print('pos 2 - ' + str(i))
    #print(rob_pos)
    if rob_pos == 1: # Robot picking up a disk
        storage_down = True
        #print(storage_down,i)  
    if disk == True and storage_down == True:
        #var_actual = rob_pos
        disk = False
        storage_down = False
        run_list.append(i) #i append to list # This list will tell at how many i contains one sample
        #print(i)
    #if var_previous != var_actual:
        #run_list.append(i) #i append to list # This list will tell at how many i contains one sample

In [19]:
print(run_list) # Starting points. 
print(len(run_list))

[0, 2653, 2688, 3642, 4586, 5434, 5568, 6464, 7405, 8349, 9292, 10236, 11084, 11226, 12028, 12159, 13055, 13999, 14943, 15874, 16818, 17761, 18692, 19646, 20590, 21523, 22467, 23408, 24352, 25286, 26230, 27171, 28115, 28963, 29097, 29993, 30934, 31878, 32822, 33766, 34710, 36277, 37125, 37221, 38152, 38979, 39923, 40867, 41715, 41853, 42659, 42801, 43603, 43735, 44630, 45574, 46518, 47459, 48393, 49347, 50195, 50333, 51222, 52165, 53013, 53158, 54043, 54984, 55918, 56872, 57720, 57857, 58747, 59691, 60635, 61579, 62523, 63371, 63503, 64312, 64447, 65342, 66296, 67240, 68088, 68210, 69115, 70059, 71003, 71944, 72805, 72927, 73746, 73871, 74776, 75720, 76661, 77605, 78549, 79503, 80437, 81378]
102

In [20]:
# data_merge.iloc[list(range(0,3))]

In [21]:
df_robpos = pd.DataFrame(pos,columns=['RobPos']) # Position of robot. 0: not important; 1: Robot in storage. Picking up the disk; 2:Robot in storage. Placing down the disk
data_merge = pd.concat([data_merge, df_robpos], axis=1, sort=False)
data_merge

,level_0,PrimaryKey,DataType,Value,StatusCode,SourceTimeStamp,ServerTimeStamp,RobPos
0,gate,Position,0x000b,0.3,0x00000000,2020-10-12T09:26:48.068Z,2020-10-12 09:25:53.068000+00:00,0.0
1,gate,Speed,0x000b,0,0x00000000,2020-10-12T09:26:48.068Z,2020-10-12 09:25:53.068000+00:00,0.0
2,gate,Safe,0x0001,true,0x00000000,2020-10-12T09:26:48.068Z,2020-10-12 09:25:53.068000+00:00,0.0
3,gate,Speed,0x000b,0,0x00000000,2020-10-12T09:26:48.368Z,2020-10-12 09:25:53.368000+00:00,0.0
4,gate,Safe,0x0001,true,0x00000000,2020-10-12T09:26:48.368Z,2020-10-12 09:25:53.368000+00:00,0.0
...,...,...,...,...,...,...,...,...
83190,rp,528,0x0007,3190259491,0x00000000,2020-10-12T10:07:04.987Z,2020-10-12 10:07:04.987000+00:00,0.0
83191,rp,527,0x0007,3182876373,0x00000000,2020-10-12T10:07:04.988Z,2020-10-12 10:07:04.988000+00:00,0.0
83192,rp,529,0x0007,1054422942,0x00000000,2020-10-12T10:07:05.228Z,2020-10-12 10:07:05.228000+00:00,0.0
83193,rp,528,0x0007,3190440406,0x00000000,2020-10-12T10:07:05.230Z,2020-10-12 10:07:05.230000+00:00,NaN
83194,rp,527,0x0007,3181613994,0x00000000,2020-10-12T10:07:05.233Z,2020-10-12 10:07:05.233000+00:00,NaN

The list contains the point i when the value is different. To consider the point where the value remains, consider i-1

In [22]:
d = {} # Dictionary that holds the sub-data-sets given by the starting point
for i in range(len(run_list)-1): # Ignores the last value (set of values)
    list_range = list(range(run_list[i],run_list[i+1]))
    d['df{0}'.format(i)] = data_merge.iloc[list_range]
    
print('Dictionary lenght is:' + str(len(d)))

Dictionary lenght is:101

## Assure conv_speed per sample

In [23]:
conv_1 = 0
conv_2 = 0
conv_3 = 0
conv1 = False
conv2 = False
conv3 = False
for j in range(len(d)): # as many samples saved in dictionary
    df = d['df'+ str(j)]
    for i in range(len(df)): # as many row in the dataFrame
        #print(df.iat[i,1])
        if df.iat[i,1] == '27': # conv1
            conv_1 = df.iat[i,3]
            conv1 = True # the value shows at least once in the data set
        if df.iat[i,1] == '28': # conv2
            conv_2 = df.iat[i,3]
            conv2 = True
        if df.iat[i,1] == '29': # conv3
            conv_3 = df.iat[i,3]
            conv3 = True
    if conv1 == False: # The value did not occur in this sample. Copy value from previous samples into this one
        dic = {'PrimaryKey' : '27', 'Value': str(conv_1)}
        df.loc[len(df)+1,'PrimaryKey'] = '27'
        df.loc[len(df),'Value'] = str(conv_1)
        df.loc[len(df),'DataType'] = 'NA'
        df.loc[len(df),'StatusCode'] = 'NA'
        df.loc[len(df),'SourceTimeStamp'] = 'NA'
        df.loc[len(df),'ServerTimeStamp'] = 'NA'
    if conv2 == False:
        dic = {'PrimaryKey' : '27', 'Value': str(conv_2)}
        df.loc[len(df)+1,'PrimaryKey'] = '28'
        df.loc[len(df),'Value'] = str(conv_2)
        df.loc[len(df),'DataType'] = 'NA'
        df.loc[len(df),'StatusCode'] = 'NA'
        df.loc[len(df),'SourceTimeStamp'] = 'NA'
        df.loc[len(df),'ServerTimeStamp'] = 'NA'
    if conv3 == False:
        dic = {'PrimaryKey' : '27', 'Value': str(conv_3)}
        df.loc[len(df)+1,'PrimaryKey'] = '29'
        df.loc[len(df),'Value'] = str(conv_3)
        df.loc[len(df),'DataType'] = 'NA'
        df.loc[len(df),'StatusCode'] = 'NA'
        df.loc[len(df),'SourceTimeStamp'] = 'NA'
        df.loc[len(df),'ServerTimeStamp'] = 'NA'
   
    conv1 = False # reset conv for the next round
    conv2 = False
    conv3 = False
print(conv_1)
print(conv_2)
print(conv_3)

300
363
380

## Export individual data-sample to .csv

In [24]:
for i in range(len(d)):
    if i > 0: # always ignore the first sample due to data-acquisition misalligment
        d['df' + str(i)].to_csv(path_sample_save + 'sample_' + str(i) + '.csv')
print('The data is saved at ' + path_sample_save + 'sample_x.csv')

The data is saved at ../01_Data/201012/use_case2/Processed/Samples/sample_x.csv

## Testing area

In [25]:
#d['df67']

In [26]:
# list_range = list(range(run_list[0],run_list[1]))
# print(list_range)

In [27]:
# data_merge.iloc[list_range]

In [28]:
# data_rp.loc[:, 'PrimaryKey'] = '529_z'
# data_rp

In [29]:
# %matplotlib notebook 
# data_gate.head(400).plot(x='SourceTimeStamp', y= 'Value')
# plt.xticks(rotation=45)

In [30]:
# %matplotlib notebook 
# data_rp.head(200).plot( y= 'Value')
# plt.xticks(rotation=45)