In [1]:
## Current path display

import os
current_path = os.getcwd()
print(current_path)

d:\05_Projekte\04_Research\08_ManuBrain\01_Lab\Demo-Cell-Classification\Demo-Cell-Classification\02_Preprocessing

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import timedelta

## Functions

In [3]:
# return tag from data
def fc_tag (data,index):
    return data.at[index,'d'].split('=')[2] # [2] equivalent a tag column data en txt file

# update tag in main table
def fc_tag_update(data, tag):
    for i in range(len(tag)):
        i = i + 1 
        data = data.replace({'PrimaryKey':i}, fc_tag(tag,i), regex = False)
    return data

#Sync TimeStamp

def fc_sync_timestamp2(data,ServerTimeStamp,delta_time): #Requires df, column-name and delta-time
    for date in data[ServerTimeStamp]:
        source = datetime.fromisoformat(str(date).replace('Z','+00:00'))
        date_sync = source - delta_time
        data[ServerTimeStamp] = date_sync
    return data

def fc_sync_timestamp(data,ServerTimeStamp,delta_time): #Requires df, column-name and delta-time
    for i in range(len(data)): 
        source = datetime.fromisoformat(str(data.at[i,ServerTimeStamp]).replace('Z','+00:00'))
        date_sync = source - delta_time
        data.at[i,ServerTimeStamp] = date_sync
    return data

## Paths from data set

In [4]:
date = 201012
uc_num = 2

path = str(date) + '/use_case' + str(uc_num)

# Conveyor_belt
path_data_conv = '../01_Data/' + path + '/Conveyor Speed/DataLogger.csv'
path_tag_conv = '../01_Data/' + path + '/Conveyor Speed/tagconfig.txt'

# Gate
path_data_gate = '../01_Data/' + path + '/Gate/DataLogger.csv'
path_tag_gate = '../01_Data/' + path + '/Gate/tagconfig.txt'

# Quality_Control
path_data_qc = '../01_Data/' + path + '/Quality Control/DataLogger.csv'
path_tag_qc = '../01_Data/' + path + '/Quality Control/tagconfig.txt'

# Robot_Position
path_data_rp = '../01_Data/' + path + '/Robot Position/DataLogger.csv'
path_tag_rp = '../01_Data/' + path + '/Robot Position/tagconfig.txt'

# Store
path_data_st = '../01_Data/' + path + '/Store/DataLogger.csv'
path_tag_st = '../01_Data/' + path + '/Store/tagconfig.txt'

# Processed data

path_data_save = '../01_Data/' + path + '/Processed/'
path_sample_save = '../01_Data/' + path + '/Processed/Samples/'

## Import data from csv

In [5]:
# Conveyor_belt
data_conv =  pd.read_csv(path_data_conv, delimiter = ',')
#df_conv = pd.DataFrame(pd.read_csv(path_data_conv, delimiter = ','))

# Gate
data_gate =  pd.read_csv(path_data_gate, delimiter = ',')
#df_gate = pd.DataFrame(pd.read_csv(path_data_gate, delimiter = ','))

# Quality_Control
data_qc =  pd.read_csv(path_data_qc, delimiter = ',')
#df_qc = pd.DataFrame(pd.read_csv(path_data_qc, delimiter = ','))

# Robot_Position
data_rp =  pd.read_csv(path_data_rp, delimiter = ',')
#df_rp = pd.DataFrame(pd.read_csv(path_data_rp, delimiter = ','))

# Store
data_st =  pd.read_csv(path_data_st, delimiter = ',')
#df_st = pd.DataFrame(pd.read_csv(path_data_st, delimiter = ','))

## Import data tags

In [6]:
# Conveyor_belt
tag_conv =  pd.read_fwf(path_tag_conv, sep=" ", header=None, names=['a','b','c','d'])
tag_conv = tag_conv.drop([0]) # delete first row (trash)

# Gate
tag_gate =  pd.read_fwf(path_tag_gate, sep=" ", header=None, names=['a','b','c','d'])
tag_gate = tag_gate.drop([0]) # delete first row (trash)

# Quality_Control
tag_qc =  pd.read_fwf(path_tag_qc, sep=" ", header=None, names=['a','b','c','d'])
tag_qc = tag_qc.drop([0]) # delete first row (trash)

# Robot_Position
tag_rp =  pd.read_fwf(path_tag_rp, sep=" ", header=None, names=['a','b','c','d'])
tag_rp = tag_rp.drop([0]) # delete first row (trash)

# Robot_Position
tag_st =  pd.read_fwf(path_tag_st, sep=" ", header=None, names=['a','b','c','d'])
tag_st = tag_st.drop([0]) # delete first row (trash)

## Update tags

In [7]:
# Conveyor_belt
data_conv = fc_tag_update(data_conv, tag_conv)

# Gate
data_gate = fc_tag_update(data_gate, tag_gate)

# Quality_Control
data_qc = fc_tag_update(data_qc, tag_qc)

# Robot_Position
data_rp = fc_tag_update(data_rp, tag_rp)

# Store
data_st = fc_tag_update(data_st, tag_st)

## Syncronize ServerTimeStamp

In [8]:
delta_time_PLC = timedelta(seconds=0)
delta_time_SIM = timedelta(seconds=55)

In [9]:
data_conv = fc_sync_timestamp(data_conv,'ServerTimeStamp',delta_time_PLC)
data_conv

,PrimaryKey,DataType,Value,StatusCode,SourceTimeStamp,ServerTimeStamp
0,27,0x0004,414,0x00000000,2020-10-12T09:27:38.979Z,2020-10-12 09:27:38.979000+00:00
1,28,0x0004,551,0x00000000,2020-10-12T09:27:38.980Z,2020-10-12 09:27:38.980000+00:00
2,29,0x0004,584,0x00000000,2020-10-12T09:27:38.980Z,2020-10-12 09:27:38.980000+00:00
3,27,0x0004,300,0x00000000,2020-10-12T09:27:39.728Z,2020-10-12 09:27:39.728000+00:00
4,28,0x0004,363,0x00000000,2020-10-12T09:27:39.729Z,2020-10-12 09:27:39.729000+00:00
5,29,0x0004,380,0x00000000,2020-10-12T09:27:39.729Z,2020-10-12 09:27:39.729000+00:00
6,27,0x0004,300,0x002f0000,2020-10-12T09:43:03.228Z,2020-10-12 09:43:03.228000+00:00
7,27,0x0004,300,0x00000000,2020-10-12T09:43:03.479Z,2020-10-12 09:43:03.479000+00:00
8,28,0x0004,363,0x002f0000,2020-10-12T09:43:03.228Z,2020-10-12 09:43:03.228000+00:00
9,28,0x0004,363,0x00000000,2020-10-12T09:43:03.479Z,2020-10-12 09:43:03.479000+00:00
10,29,0x0004,380,0x002f0000,2020-10-12T09:43:03.231Z,2020-10-12 09:43:03.231000+00:00
11,29,0x0004,380,0x00000000,2020-10-12T09:43:03.481Z,2020-10-12 09:43:03.481000+00:00

In [10]:
data_gate = fc_sync_timestamp(data_gate,'ServerTimeStamp',delta_time_SIM)
data_gate

,PrimaryKey,DataType,Value,StatusCode,SourceTimeStamp,ServerTimeStamp
0,Position,0x000b,0.3,0x00000000,2020-10-12T09:26:48.068Z,2020-10-12 09:25:53.068000+00:00
1,Position,0x000b,0.3,0x00000000,2020-10-12T09:26:48.368Z,2020-10-12 09:25:53.368000+00:00
2,Safe,0x0001,true,0x00000000,2020-10-12T09:26:48.068Z,2020-10-12 09:25:53.068000+00:00
3,Safe,0x0001,true,0x00000000,2020-10-12T09:26:48.368Z,2020-10-12 09:25:53.368000+00:00
4,Speed,0x000b,0,0x00000000,2020-10-12T09:26:48.068Z,2020-10-12 09:25:53.068000+00:00
...,...,...,...,...,...,...
23578,Speed,0x000b,0,0x00000000,2020-10-12T10:06:05.468Z,2020-10-12 10:05:10.468000+00:00
23579,Speed,0x000b,0,0x00000000,2020-10-12T10:06:05.768Z,2020-10-12 10:05:10.768000+00:00
23580,Position,0x000b,0.3,0x00000000,2020-10-12T10:06:06.068Z,2020-10-12 10:05:11.068000+00:00
23581,Safe,0x0001,true,0x00000000,2020-10-12T10:06:06.068Z,2020-10-12 10:05:11.068000+00:00
23582,Speed,0x000b,0,0x00000000,2020-10-12T10:06:06.068Z,2020-10-12 10:05:11.068000+00:00

In [11]:
data_qc = fc_sync_timestamp(data_qc,'ServerTimeStamp',delta_time_SIM)
data_qc

,PrimaryKey,DataType,Value,StatusCode,SourceTimeStamp,ServerTimeStamp
0,DistanceX,0x000b,2.385984,0x00000000,2020-10-12T09:26:50.218Z,2020-10-12 09:25:55.218000+00:00
1,DistanceX,0x000b,2.385984,0x00000000,2020-10-12T09:26:50.518Z,2020-10-12 09:25:55.518000+00:00
2,DistanceY,0x000b,5.591398,0x00000000,2020-10-12T09:26:50.218Z,2020-10-12 09:25:55.218000+00:00
3,DistanceY,0x000b,5.591398,0x00000000,2020-10-12T09:26:50.518Z,2020-10-12 09:25:55.518000+00:00
4,DistanceAbs,0x000b,6.079198,0x00000000,2020-10-12T09:26:50.218Z,2020-10-12 09:25:55.218000+00:00
...,...,...,...,...,...,...
23575,DistanceX,0x000b,0.867630,0x00000000,2020-10-12T10:06:07.918Z,2020-10-12 10:05:12.918000+00:00
23576,DistanceY,0x000b,5.806451,0x00000000,2020-10-12T10:06:07.618Z,2020-10-12 10:05:12.618000+00:00
23577,DistanceY,0x000b,5.806451,0x00000000,2020-10-12T10:06:07.918Z,2020-10-12 10:05:12.918000+00:00
23578,DistanceAbs,0x000b,5.870916,0x00000000,2020-10-12T10:06:07.618Z,2020-10-12 10:05:12.618000+00:00
23579,DistanceAbs,0x000b,5.870916,0x00000000,2020-10-12T10:06:07.918Z,2020-10-12 10:05:12.918000+00:00

In [12]:
data_rp = fc_sync_timestamp(data_rp,'ServerTimeStamp',delta_time_PLC)
data_rp

,PrimaryKey,DataType,Value,StatusCode,SourceTimeStamp,ServerTimeStamp
0,527,0x0007,3191752653,0x00000000,2020-10-12T09:27:48.231Z,2020-10-12 09:27:48.231000+00:00
1,527,0x0007,3195966703,0x00000000,2020-10-12T09:27:48.480Z,2020-10-12 09:27:48.480000+00:00
2,528,0x0007,3188997867,0x00000000,2020-10-12T09:27:48.232Z,2020-10-12 09:27:48.232000+00:00
3,528,0x0007,3188236741,0x00000000,2020-10-12T09:27:48.482Z,2020-10-12 09:27:48.482000+00:00
4,529,0x0007,1054183454,0x00000000,2020-10-12T09:27:48.234Z,2020-10-12 09:27:48.234000+00:00
...,...,...,...,...,...,...
28155,527,0x0007,3181613994,0x00000000,2020-10-12T10:07:05.233Z,2020-10-12 10:07:05.233000+00:00
28156,528,0x0007,3190259491,0x00000000,2020-10-12T10:07:04.987Z,2020-10-12 10:07:04.987000+00:00
28157,528,0x0007,3190440406,0x00000000,2020-10-12T10:07:05.230Z,2020-10-12 10:07:05.230000+00:00
28158,529,0x0007,1054429098,0x00000000,2020-10-12T10:07:04.985Z,2020-10-12 10:07:04.985000+00:00
28159,529,0x0007,1054422942,0x00000000,2020-10-12T10:07:05.228Z,2020-10-12 10:07:05.228000+00:00

In [13]:
data_st = fc_sync_timestamp(data_st,'ServerTimeStamp',delta_time_SIM)
data_st

,PrimaryKey,DataType,Value,StatusCode,SourceTimeStamp,ServerTimeStamp
0,DiscSize,0x0003,1,0x00000000,2020-10-12T09:26:54.397Z,2020-10-12 09:25:59.397000+00:00
1,DiscSize,0x0003,1,0x00000000,2020-10-12T09:26:54.697Z,2020-10-12 09:25:59.697000+00:00
2,DiscSize,0x0003,0,0x00000000,2020-10-12T09:26:54.997Z,2020-10-12 09:25:59.997000+00:00
3,DiscSize,0x0003,2,0x00000000,2020-10-12T09:26:55.297Z,2020-10-12 09:26:00.297000+00:00
4,DiscSize,0x0003,0,0x00000000,2020-10-12T09:26:55.597Z,2020-10-12 09:26:00.597000+00:00
...,...,...,...,...,...,...
7855,DiscSize,0x0003,1,0x00000000,2020-10-12T10:06:10.897Z,2020-10-12 10:05:15.897000+00:00
7856,DiscSize,0x0003,1,0x00000000,2020-10-12T10:06:11.197Z,2020-10-12 10:05:16.197000+00:00
7857,DiscSize,0x0003,1,0x00000000,2020-10-12T10:06:11.497Z,2020-10-12 10:05:16.497000+00:00
7858,DiscSize,0x0003,1,0x00000000,2020-10-12T10:06:11.797Z,2020-10-12 10:05:16.797000+00:00
7859,DiscSize,0x0003,1,0x00000000,2020-10-12T10:06:12.097Z,2020-10-12 10:05:17.097000+00:00

## Merge Data Sets

In [14]:
data_set = [data_conv, data_gate, data_qc, data_rp, data_st]
data_merge = pd.concat(data_set, keys=['conv', 'gate', 'qc', 'rp', 'store'])
# Sort the data_set by SourceTimeStamp, reset index and delete aux column
data_merge = data_merge.sort_values(by='ServerTimeStamp').reset_index().drop('level_1',1)
#del data_merge['level_1'] #delete aux column

In [15]:
data_merge

,level_0,PrimaryKey,DataType,Value,StatusCode,SourceTimeStamp,ServerTimeStamp
0,gate,Position,0x000b,0.3,0x00000000,2020-10-12T09:26:48.068Z,2020-10-12 09:25:53.068000+00:00
1,gate,Speed,0x000b,0,0x00000000,2020-10-12T09:26:48.068Z,2020-10-12 09:25:53.068000+00:00
2,gate,Safe,0x0001,true,0x00000000,2020-10-12T09:26:48.068Z,2020-10-12 09:25:53.068000+00:00
3,gate,Speed,0x000b,0,0x00000000,2020-10-12T09:26:48.368Z,2020-10-12 09:25:53.368000+00:00
4,gate,Safe,0x0001,true,0x00000000,2020-10-12T09:26:48.368Z,2020-10-12 09:25:53.368000+00:00
...,...,...,...,...,...,...,...
83190,rp,528,0x0007,3190259491,0x00000000,2020-10-12T10:07:04.987Z,2020-10-12 10:07:04.987000+00:00
83191,rp,527,0x0007,3182876373,0x00000000,2020-10-12T10:07:04.988Z,2020-10-12 10:07:04.988000+00:00
83192,rp,529,0x0007,1054422942,0x00000000,2020-10-12T10:07:05.228Z,2020-10-12 10:07:05.228000+00:00
83193,rp,528,0x0007,3190440406,0x00000000,2020-10-12T10:07:05.230Z,2020-10-12 10:07:05.230000+00:00
83194,rp,527,0x0007,3181613994,0x00000000,2020-10-12T10:07:05.233Z,2020-10-12 10:07:05.233000+00:00

## Export Data to csv

In [16]:
data_merge.to_csv(path_data_save + 'data_merge.csv')
print('The data is saved at ' + path_data_save + 'data_merge.csv')

The data is saved at ../01_Data/201012/use_case2/Processed/data_merge.csv

In [17]:
len(data_merge)

83195

## Determine the starting point of data set

#Based on change of DistanceAbs in Data- Set
var_actual = 0
run_list = [0]
for i in range(len(data_merge)):
    var_previous = var_actual
    if data_merge.at[i,'PrimaryKey'] == 'DistanceAbs':  # if 'PrimaryKey' value = 'DistanceAbs':
        var_actual = data_merge.at[i,'Value'] # value of current DistanceAbs
    if var_previous != var_actual:
        run_list.append(i) #i append to list # This list will tell at how many i contains one sample

In [18]:
# Based on grabbing the white disk
var_actual = 99
disk_actual = 99 # Initial value
run_list = [0]
disk = False
storage_down = False
rob_x = 0
rob_y = 0
rob_z = 0
rob_pos = 0
pos = [0]*(len(data_merge)-2)
for i in range(len(data_merge)-2): # len(data_merge)-2 is considered to avoid border errors
    #var_previous = var_actual
    #rob_pos = fc_rob_pos(i, data_merge) # review robot position
    pos[i] = 0
    if data_merge.at[i,'PrimaryKey'] == 'DiscSize':  # if 'PrimaryKey' value = 'DiskSize':
        disk_previous = disk_actual
        disk_actual = data_merge.at[i,'Value'] # value of current DiskSize
        #print(disk_previous, disk_actual, i)
        if disk_previous != 2 and disk_actual == 2: # Varialbe 0: unkown; 1: Black disk; 2: white disk
            disk = True
            #print('New white disk here ' + str(i))
    if data_merge.at[i,'PrimaryKey'] == '527':  # if 'PrimaryKey' value = 'x coordinate':
        rob_x = data_merge.at[i,'Value'] # value of current 'x coordinate'
        #print('x = ' + str(rob_x) + '--' + str(i))
    if data_merge.at[i,'PrimaryKey'] == '528':  # if 'PrimaryKey' value = 'y coordinate':
        rob_y = data_merge.at[i,'Value'] # value of current 'x coordinate'
        #print('y = ' + str(rob_y) + '--' + str(i))
    if data_merge.at[i,'PrimaryKey'] == '529':  # if 'PrimaryKey' value = 'z coordinate':
        rob_z = data_merge.at[i,'Value'] # value of current 'x coordinate'
        #print('z = ' + str(rob_z) + '--' + str(i))
    if rob_x > 3100000000 and rob_y > 3100000000 and rob_z < 1051200000: #Robot in storage. Picking up the disk
        rob_pos = 1
        pos[i] = 1
        #print('pos 1 - ' + str(i))
    if rob_x < 1052000000 and rob_y > 3100000000 and rob_z < 1052000000 and rob_z > 1051200000 : #Robot in storage. Placing down the disk
        rob_pos = 2
        pos[i] = 2
        #print('pos 2 - ' + str(i))
    #print(rob_pos)
    if rob_pos == 1: # Robot picking up a disk
        storage_down = True
        #print(storage_down,i)  
    if disk == True and storage_down == True:
        #var_actual = rob_pos
        disk = False
        storage_down = False
        run_list.append(i) #i append to list # This list will tell at how many i contains one sample
        #print(i)
    #if var_previous != var_actual:
        #run_list.append(i) #i append to list # This list will tell at how many i contains one sample

In [19]:
print(run_list) # Starting points. 
print(len(run_list))

[0, 2653, 2688, 3642, 4586, 5434, 5568, 6464, 7405, 8349, 9292, 10236, 11084, 11226, 12028, 12159, 13055, 13999, 14943, 15874, 16818, 17761, 18692, 19646, 20590, 21523, 22467, 23408, 24352, 25286, 26230, 27171, 28115, 28963, 29097, 29993, 30934, 31878, 32822, 33766, 34710, 36277, 37125, 37221, 38152, 38979, 39923, 40867, 41715, 41853, 42659, 42801, 43603, 43735, 44630, 45574, 46518, 47459, 48393, 49347, 50195, 50333, 51222, 52165, 53013, 53158, 54043, 54984, 55918, 56872, 57720, 57857, 58747, 59691, 60635, 61579, 62523, 63371, 63503, 64312, 64447, 65342, 66296, 67240, 68088, 68210, 69115, 70059, 71003, 71944, 72805, 72927, 73746, 73871, 74776, 75720, 76661, 77605, 78549, 79503, 80437, 81378]
102

In [20]:
# data_merge.iloc[list(range(0,3))]

In [21]:
df_robpos = pd.DataFrame(pos,columns=['RobPos']) # Position of robot. 0: not important; 1: Robot in storage. Picking up the disk; 2:Robot in storage. Placing down the disk
data_merge = pd.concat([data_merge, df_robpos], axis=1, sort=False)
data_merge

,level_0,PrimaryKey,DataType,Value,StatusCode,SourceTimeStamp,ServerTimeStamp,RobPos
0,gate,Position,0x000b,0.3,0x00000000,2020-10-12T09:26:48.068Z,2020-10-12 09:25:53.068000+00:00,0.0
1,gate,Speed,0x000b,0,0x00000000,2020-10-12T09:26:48.068Z,2020-10-12 09:25:53.068000+00:00,0.0
2,gate,Safe,0x0001,true,0x00000000,2020-10-12T09:26:48.068Z,2020-10-12 09:25:53.068000+00:00,0.0
3,gate,Speed,0x000b,0,0x00000000,2020-10-12T09:26:48.368Z,2020-10-12 09:25:53.368000+00:00,0.0
4,gate,Safe,0x0001,true,0x00000000,2020-10-12T09:26:48.368Z,2020-10-12 09:25:53.368000+00:00,0.0
...,...,...,...,...,...,...,...,...
83190,rp,528,0x0007,3190259491,0x00000000,2020-10-12T10:07:04.987Z,2020-10-12 10:07:04.987000+00:00,0.0
83191,rp,527,0x0007,3182876373,0x00000000,2020-10-12T10:07:04.988Z,2020-10-12 10:07:04.988000+00:00,0.0
83192,rp,529,0x0007,1054422942,0x00000000,2020-10-12T10:07:05.228Z,2020-10-12 10:07:05.228000+00:00,0.0
83193,rp,528,0x0007,3190440406,0x00000000,2020-10-12T10:07:05.230Z,2020-10-12 10:07:05.230000+00:00,NaN
83194,rp,527,0x0007,3181613994,0x00000000,2020-10-12T10:07:05.233Z,2020-10-12 10:07:05.233000+00:00,NaN

The list contains the point i when the value is different. To consider the point where the value remains, consider i-1

In [22]:
d = {} # Dictionary that holds the sub-data-sets given by the starting point
for i in range(len(run_list)-1): # Ignores the last value (set of values)
    list_range = list(range(run_list[i],run_list[i+1]))
    d['df{0}'.format(i)] = data_merge.iloc[list_range]
    
print('Dictionary lenght is:' + str(len(d)))

Dictionary lenght is:101

## Assure conv_speed per sample

In [23]:
conv_1 = 0
conv_2 = 0
conv_3 = 0
conv1 = False
conv2 = False
conv3 = False
for j in range(len(d)): # as many samples saved in dictionary
    df = d['df'+ str(j)]
    for i in range(len(df)): # as many row in the dataFrame
        #print(df.iat[i,1])
        if df.iat[i,1] == '27': # conv1
            conv_1 = df.iat[i,3]
            conv1 = True # the value shows at least once in the data set
        if df.iat[i,1] == '28': # conv2
            conv_2 = df.iat[i,3]
            conv2 = True
        if df.iat[i,1] == '29': # conv3
            conv_3 = df.iat[i,3]
            conv3 = True
    if conv1 == False: # The value did not occur in this sample. Copy value from previous samples into this one
        dic = {'PrimaryKey' : '27', 'Value': str(conv_1)}
        df.loc[len(df)+1,'PrimaryKey'] = '27'
        df.loc[len(df),'Value'] = str(conv_1)
        df.loc[len(df),'DataType'] = 'NA'
        df.loc[len(df),'StatusCode'] = 'NA'
        df.loc[len(df),'SourceTimeStamp'] = 'NA'
        df.loc[len(df),'ServerTimeStamp'] = 'NA'
    if conv2 == False:
        dic = {'PrimaryKey' : '27', 'Value': str(conv_2)}
        df.loc[len(df)+1,'PrimaryKey'] = '28'
        df.loc[len(df),'Value'] = str(conv_2)
        df.loc[len(df),'DataType'] = 'NA'
        df.loc[len(df),'StatusCode'] = 'NA'
        df.loc[len(df),'SourceTimeStamp'] = 'NA'
        df.loc[len(df),'ServerTimeStamp'] = 'NA'
    if conv3 == False:
        dic = {'PrimaryKey' : '27', 'Value': str(conv_3)}
        df.loc[len(df)+1,'PrimaryKey'] = '29'
        df.loc[len(df),'Value'] = str(conv_3)
        df.loc[len(df),'DataType'] = 'NA'
        df.loc[len(df),'StatusCode'] = 'NA'
        df.loc[len(df),'SourceTimeStamp'] = 'NA'
        df.loc[len(df),'ServerTimeStamp'] = 'NA'
   
    conv1 = False # reset conv for the next round
    conv2 = False
    conv3 = False
print(conv_1)
print(conv_2)
print(conv_3)

300
363
380

## Export individual data-sample to .csv

In [24]:
for i in range(len(d)):
    if i > 0: # always ignore the first sample due to data-acquisition misalligment
        d['df' + str(i)].to_csv(path_sample_save + 'sample_' + str(i) + '.csv')
print('The data is saved at ' + path_sample_save + 'sample_x.csv')

The data is saved at ../01_Data/201012/use_case2/Processed/Samples/sample_x.csv

## Testing area

In [25]:
#d['df67']

In [26]:
# list_range = list(range(run_list[0],run_list[1]))
# print(list_range)

In [27]:
# data_merge.iloc[list_range]

In [28]:
# data_rp.loc[:, 'PrimaryKey'] = '529_z'
# data_rp

In [29]:
# %matplotlib notebook 
# data_gate.head(400).plot(x='SourceTimeStamp', y= 'Value')
# plt.xticks(rotation=45)

In [30]:
# %matplotlib notebook 
# data_rp.head(200).plot( y= 'Value')
# plt.xticks(rotation=45)